.mainWindow{
    -fx-background-image : url("store-bg.jpg");
}

.sceneTitle{
    -fx-background-color: red;
    -fx-text-fill: #f7f7f7;
    -fx-font-size: 50.0 px;
    -fx-font-family: "Times New Roman";
    -fx-alignment: center;
    -fx-padding: 20px;
}

.formLabel{
    -fx-font-size : 20px;
    -fx-text-fill : red;
}

.btn{
    -fx-min-height: 30px;
    -fx-min-width: 30px;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-border-radius: 40px;
}

.btnHbox{
    -fx-alignment: center;
}

.btn:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.formProduitHBox{
    -fx-padding: 20 px;
}

.totalHBox{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-background-color : #a20a0a;

}

.totalLabel{
    -fx-text-fill : white;
}

.centerLabel{
    -fx-alignment: center;
}

.venteTitleLabel{
    -fx-background-color: red;
    -fx-text-fill: #f7f7f7;
    -fx-font-size: 20.0 px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10px;
}